
.headline{
    padding: 15px;
    text-align: center;
}

.info{
    margin-left: 40px;
}



body {
    background: url("/images/dogpawbackground.png");
    text-align: center;
}

.map-card {
    margin-top: 10px;
    background-color: rgba(223,216,200,0.95);
}

.map-card2{
    margin-left: 30px;
    background-color: rgba(255,255,255,0.45);
    border-radius: 20px;
}


.adressbox {
    display: inline;
}

.map-pic {

    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.map-card2 {
    padding-left: 30px;
}

.map-card3 {
    padding-left: 100px;
}


.comment {
    margin: 30px;
}

.thumbnail-img {
    margin-top: 20px;
    display: inline-block;
    margin-left: 40px;
    border-radius: 15px;
}

.description {
    margin-top: 20px;
    display: inline-block;
    margin-left: 50px;
}

.map {
    width: 450px;
    height: 300px;
}