.thumbnail-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}



body {
    background: url("/images/dogpawbackground.png");
}

.btn {
    background-color: rgba(89,94,99,0.95);
}

.col-sm-6 {
    background-color: rgba(203,187,163,0.95);
    border-radius: 10px;
    margin: 10px;

}

.spot-pictures {
    margin-top: 15px;
    border-radius: 10px;
}

.thumbnail-img {
    border-radius: 10px;
}

.spot-card {
    width: 200px;

}

.logo {
    border-radius: 10px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}