
.headline{
    padding: 15px;
    text-align: center;
}

.info{
    margin-left: 40px;
}



body {
    background: url("/images/dogpawbackground.png");
    text-align: center;
}

.map-card {
    background-color: rgba(223,216,200,0.95);
}

.map-card2{
    background-color: rgba(255,255,255,0.45);
    border-radius: 20px;
}


.adressbox {
    display: inline;
}

.map-pic {

    height: 350px;
    width: 350px;
}

.map-card2 {
    padding-left: 30px;
}

.map-card3 {
    padding-left: 100px;
}


.comment {
    margin: 30px;
}