<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascript/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css"/>


</head>
<body>

<div class="container">
    <div class="row">
        <img class="logo center" src="/images/wufflogo2.jpg" width="400" height="200">
    </div>
    <div class="row">
        <div class="navbar2 col-sm-12">
    <div th:replace="navbar.html :: navbar">...</div>
        </div>
    </div>
    <div class="row">
        <div class="tweet col-sm-6">
            <div class="twt-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        News feed
                    </div>
                    <div class="panel-body">
                        <form action="/index/comment" method="post">
                            <textarea class="form-control" id="inComment" name="inComment" placeholder="Enter here for bark..." rows="3"></textarea>
                            <br>
                            <button type="submit" class="btn btn-primary btn-sm pull-right">Let's bark!</button>
                        </form>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <div th:each="comment: ${comments}">
                                <li class="media">
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted" th:text="${comment.getBirthDate().getYear()+'-'+comment.getBirthDate().getMonth()+'-'+comment.getBirthDate().getDayOfMonth()+ ' '+comment.getBirthDate().getHour() +':' + comment.getBirthDate().getMinute()}">30 min ago</small>
                                        </span>
                                        <p th:text="${comment.getComment()}">Comment</p>
                                    </div>
                                </li>
                                <hr>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-sm-6">
            <div class="tweet tweet-map col-sm-12">
                <div class="pct-wrapper">
                    <div class="panel panel-info">
                        <div class="map-panel-heading">
                            <p class="spot-map-text">Spot map</p>
                        </div>
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="/spot/list">
                <img class="map-pic2" src="/images/map.jpg">
                        </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal login-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="px-4 py-3" action="/login" method="post">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label>
                        <input type="password" name="password1" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                            <label class="form-check-label" for="dropdownCheck">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item sign-up" data-toggle="modal" data-target="#registerModalCenter" href="#">Sign up</a>
                <a class="dropdown-item forgot-password" href="#">Forgot password?</a>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal registration-->
<div class="modal fade" id="registerModalCenter" tabindex="-1" role="dialog" aria-labelledby="registerModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerModalCenterTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/registration" method="post">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Password</label>
                        <input type="password" class="form-control" name="password1" id="password1" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Confirm Password</label>
                        <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm your password" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Dog name</label>
                        <input type="text" class="form-control" name="dogName" id="dogName" placeholder="Dog name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Owner name</label>
                        <input type="text" class="form-control" name="ownerName" id="ownerName" placeholder="Owner's name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
        </div>
    </div>
</div>
</div>

</body>
</html>