<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>

</head>
<body>

<div th:replace="navbar.html :: navbar">...</div>

<div class="container">
    <div class="row">
        <img class="logo center" src="/images/wufflogo2.jpg" width="400" height="200">
    </div>
    <div class="row">
        <div class="tweet col-sm-5">
            <div class="twt-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        News feed
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" placeholder="Enter here for bark..." rows="3"></textarea>
                        <br>
                        <a href="#" class="btn btn-primary btn-sm pull-right">Let's bark!</a>
                        <div class="clearfix"></div>
                        <hr>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="assets/img/1.png" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">30 min ago</small>
                                        </span>
                                    <strong class="text-success">@ Rexona Kumi</strong>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Lorem ipsum dolor sit amet, <a href="#"># consectetur adipiscing </a>.
                                    </p>
                                </div>
                            </li>
                            <hr>
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="/images/dog1.jpg" width="100" height="100" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">30 min ago</small>
                                        </span>
                                    <strong class="text-success">@ John Doe</strong>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Lorem ipsum dolor <a href="#"># ipsum dolor </a>adipiscing elit.
                                    </p>
                                </div>
                            </li>
                            <hr>
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="assets/img/3.png" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">30 min ago</small>
                                        </span>
                                    <strong class="text-success">@ Madonae Jonisyi</strong>
                                    <p>
                                        Lorem ipsum dolor <a href="#"># sit amet</a> sit amet, consectetur adipiscing
                                        elit.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class=" col-sm-5">
            <div class="map-pict col-sm-11">
                <img class="map-pic2" src="/images/map.jpg" height="600" width="400">
            </div>
        </div>
    </div>
</div>
</body>
</html>