<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>

    <title>Wuff</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/spot.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>

</head>
<body>
<div class="container">
<div class="row">
    <img class="logo center" src="/images/wufflogo2.jpg" width="400" height="200">
</div>
<div th:replace="navbar.html :: navbar">...</div>
<div class="row no-gutters map-card">
    <div class="col-6 headline">
        <h1 th:text="${spot.getAddress()}">VAU</h1>
    </div>
    <div class="row">
    <div class="map-card2">
        <p th:text="${spot.getDescription()}">Description</p>
        <img class="thumbnail-img" src="http://placehold.it/400x250/000/fff"
             th:attr="src='/images/spot_' + ${spot.getId()} + '.jpg'" alt="wuff"/>
    </div>
    <div class="map-card3">
        <div class="map">
            <iframe class="map-pic" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10779.473329179453!2d19.0658874378662!3d47.51195536882004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741db80afd8e9b1%3A0x757db90f482bea97!2sV%C3%A1rosliget!5e0!3m2!1shu!2shu!4v1554987976042!5m2!1shu!2shu"
                    th:src="'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d' + ${spot.getMap()}"
                     frameborder="0" style="border:3px"
                    allowfullscreen></iframe>
        </div>
        </div>
    </div>
    <div class="col-12 comment">
        <div class="panel-body">
            <form action="#" th:action="'/spot/'+ ${spot.getId() + '/comment'}" method="post">
                <textarea class="form-control" id="comment" name="comment" placeholder="Enter here for bark..." rows="3"></textarea>
                <button type="submit" class="btn btn-default">Create</button>
            </form>
            <br>
            <ul class="media-list">
                <div th:each="comment: ${spot.getComments()}">
                    <hr>
                    <li class="media">
                        <div class="media-body">
                            <p th:text="${comment}"></p>
                        </div>
                    </li>
                    <hr>
                </div>
            </ul>
        </div>
    </div>
</div>
</div>

</body>
</html>