<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>

    <title>Wuff</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/spotList.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>


</head>
<body>
<div class="container">
    <div class="row">
        <img class="logo center" src="/images/wufflogo2.jpg" width="400" height="200">
    </div>
    <div class="row">
        <div class="navbar2 col-sm-12">
            <div th:replace="navbar.html :: navbar">...</div>
        </div>
    </div>
    <div class="container-wrapper">
    <div class="list-card row" th:each="spot: ${spots}">
        <div class="spot-card col col-sm-11">
            <hr>
            <div class="spot-pictures">
                <img align="left" class="thumbnail-img" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/images/spot_' + ${spot.getId()} + '.jpg'" alt="wuff"/>
                <div class="adress-wrapper"><a class="adressbox" href="#" th:href="'/spot/' + ${spot.getId()}"><h5 class="card-title"
                                                                                       th:text="${spot.getAddress()}">
                    Address</h5><p th:text="${spot.getDescription()}">Description</p>
                    </a>
                </div>
                <!--<a class="btn btn-primary" href="#" th:href="'/spot/' + ${spot.getId()}" role="button">More</a>-->
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
